:root {
  --color-black: #322625;
  --color-grey: #ebebeb;
  --color-blue: #c0e3e5;
  --color-yellow: #fdc936;
}
@font-face {
  font-family: 'Neutra Text';
  src: url('../src/Style/font/neutra-text-alt/neutra-text-alt-587261020eccb.otf') format('truetype'); /* Adjust the path if necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Neutra Text', sans-serif; 
   background-color: var(--color-grey);
}
h1 {
  color: var(--color-yellow);
}

table, th, td {
  border-bottom: 1px solid var(--color-blue);
  
}
td , th{
  padding: 10px;
}
td img {
  width:  40px;
}
.box-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2;
}

.btn-pagination {
  margin: 7px !important;
  color: var(--color-blue) !important;
  border: 1px solid var(--color-blue) !important;
  background-color: var(--color-black) !important;
}

.select-number {
  margin: 8px ;
  height: 40px;
}
.text-field{
  height: 40px;
  margin: 8px;
  border-radius: 4px;
  align-items: center;
  position: relative;
  color:  var(--color-black);
  box-sizing: border-box;
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-black);
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: var(--color-blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-li a:hover {
  background-color: #111;
}
.report-div{
  border-collapse: collapse;
  margin: 8px;
}
.table-div{
  margin-top: 10px;
}